<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--Meta tags Obrigatórias-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrik-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Desadio SOS Tecnologia</title>
</head>
<body>
    <nav  aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="marca">Marca</a></li>
            <li class="breadcrumb-item"><a href="patrimonio">Patrimônio</a></li>
            
        </ol>
    </nav>
    <h1>Desafio SOS Tecnologia</h1>
    <p>O objetivo deste desafio é fazer o gerenciamento de patrimônios de uma empresa</p>  
    <a href="marca.html">Cadastrar novas marcas</a> <br>
    <a href="patrimonio.htl">Cadastrar novos patrimonios</a>
</html>